<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="/users">멤버 리스트</a></li>
  {{^loginUserId}}
  <li><a class="black-component" href="/users/loginForm" role="button">로그인</a></li>
  <li><a class="black-component" href="/users/form" role="button">회원가입</a></li>
  {{/loginUserId}}
  {{#loginUserId}}
  <li><a class="black-component" href="/users/logout" role="button">로그아웃</a></li>
  <li><a class="black-component" href="/users/{{loginUserId}}/form" role="button">개인정보수정</a></li>
  {{/loginUserId}}
</ul>
