<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/post/show.css" rel="stylesheet">
    <script src="/js/global.js"></script>
</head>
<body>
<div class="background">
    <div th:replace="~{base/part/navbar :: navbar}"></div>

    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <header class="post-header">
                    <p class="post-title" th:text="${question.getTitle()}"></p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p th:if="${question.isUserWithdrawn()}" class="article-content" th:text = "${question.getUserName()}"></p>
                                <a th:unless="${question.isUserWithdrawn()}" th:href = "@{'/profile/' + ${question.getUserLoginId}}" class="article-content" th:text = "${question.getUserName() + ' • ' + question.getUserLoginId()}"></a>
                                <p class="article-content">
                                    <span th:if="${question.isModified()}" th:text="${question.getCreatedAt()} + ' (수정됨)'"></span>
                                    <span th:unless="${question.isModified()}" th:text="${question.getCreatedAt()}"></span>
                                </p>
                                <p class="article-content">조회 <span th:text = "${question.getViewCnt()}">0</span></p>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/edit/' + ${question.getQuestionId()}">수정</a>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/delete/' + ${question.getQuestionId()}">삭제</a>
                            </div>
                        </div>
                        <div>
                            <p class="article-doc" th:text="${question.getContent()}"></p>
                        </div>
                    </article>

                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 2개</p>
                            <div class="post-comment-slipp-articles">

                                <article class="comment">
                                    <div class="article-text">
                                        <p class="comment-content comment-author-name">자바지기</p>
                                        <div class="comment-content comment-doc">
                                            <p>이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</p>
                                        </div>
                                        <p class="comment-content comment-time">
                                            2016-01-12 14:06
                                        </p>
                                    </div>
                                </article>

                                <article class="comment" id="answer-1405">
                                    <div class="article-text">
                                        <p class="comment-content comment-author-name">자바지기</p>
                                        <div class="comment-content comment-doc">
                                            <p>이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</p>
                                        </div>
                                        <p class="comment-content comment-time">
                                            2016-01-12 14:06
                                        </p>
                                    </div>
                                </article>

                                <form class="submit-write" method="get" action="/">
                                    <div class="comment-writer-container">
                                        <label for="writer">
                                            <input class="comment-writer" id="writer" name="writer" value="멋진상"
                                                   readonly/>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">
                                            <textarea class="form-control" id="comment" name="comment"
                                                      placeholder="내용을 입력하세요"></textarea>
                                        </label>
                                    </div>
                                    <input class="post-write-btn" type="submit" value="등록"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
