<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SPACE NYANCAT CAFE 🐈</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/Dalgona/neodgm-webfont@1.510/neodgm_code/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/post/show.css" rel="stylesheet">
    <script src="/js/global.js"></script>
</head>
<body>
<div class="background">
    <div th:replace="~{base/part/navbar :: navbar}"></div>

    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div style="width:100%" class="panel panel-default">
                <header class="post-header">
                    <p class="post-title" th:text="${question.getTitle()}"></p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p th:if="${question.isUserWithdrawn()}" class="article-content" th:text = "${question.getUserName()}"></p>
                                <a th:unless="${question.isUserWithdrawn()}" th:href = "@{'/profile/' + ${question.getUserLoginId}}" class="article-content" th:text = "${question.getUserName() + ' • ' + question.getUserLoginId()}"></a>
                                <p class="article-content">
                                    <span th:if="${question.isModified()}" th:text="${question.getCreatedAt()} + ' (수정됨)'"></span>
                                    <span th:unless="${question.isModified()}" th:text="${question.getCreatedAt()}"></span>
                                </p>
                                <p class="article-content">조회 <span th:text = "${question.getViewCnt()}">0</span></p>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/edit/' + ${question.getQuestionId()}">수정</a>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/delete/' + ${question.getQuestionId()}">삭제</a>
                            </div>
                        </div>
                        <div>
                            <p class="article-doc" th:text="${question.getContent()}"></p>
                        </div>
                    </article>

                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 <span th:text="${totalCommentCnt}">0</span>개</p>
                            <div class="post-comment-slipp-articles">
                                <div th:each="comment : ${comments}">
                                    <article class="comment">
                                        <div class="article-text">
                                            <!-- 작성자 정보 표시 -->
                                            <a th:unless="${comment.isUserWithdrawn}" th:href="'/profile/' + ${comment.userLoginId}" class="comment-content comment-author-name">
                                                <span th:text="${comment.getUserName} + ' • ' + ${comment.userLoginId}"></span>
                                            </a>
                                            <a th:if="${comment.isUserWithdrawn}" class="comment-content comment-author-name">
                                                <span th:text="${comment.userName}"></span>
                                            </a>
                                            <!-- 댓글 내용 표시 -->
                                            <div class="comment-content">
                                                <p th:text="${comment.content}"></p>
                                            </div>
                                            <!-- 댓글 작성 시간 표시 -->
                                            <div class="comment-content comment-doc">
                                                <p class="comment-content comment-time">
                                                    <span th:if="${comment.modified}" th:text="${comment.modifiedAt} + ' (수정됨)'"></span>
                                                    <span th:unless="${comment.modified}" th:text="${comment.modifiedAt}"></span>
                                                </p>
                                                <!-- 댓글 수정 및 삭제 버튼 표시 -->
<!--                                                <a th:if="${comment.isMy}" class="comment-content comment-menu" th:href="'/comment/edit/' + ${comment.commentId}">수정</a>-->
                                                <a th:if="${comment.isMy}" class="comment-content comment-menu" href="#" th:onclick="'submitDeleteForm(' + ${comment.commentId} + '); return false;'" role="button">삭제</a>
                                                <form th:id="'delete-comment-' + ${comment.commentId}" style="display: none" method="post" th:action="'/comments/' + ${comment.commentId}">
                                                    <input type="hidden" name="_method" value="DELETE" />
                                                    <input type="hidden" name="questionId" th:value="${question.questionId}" />
                                                    <button type="submit" style="display: none">삭제</button>
                                                </form>

                                                <script>
                                                    function submitDeleteForm(commentId) {
                                                        document.getElementById('delete-comment-' + commentId).submit();
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                                <form th:unless="${question.isUserWithdrawn()}" class="submit-write" method="post" action="/comment">
                                    <div class="comment-writer-container">
                                        <label for="questionId">
                                            <input type="hidden" id="questionId" name="questionId" th:value="${question.getQuestionId()}">
                                            <p class="comment-writer" th:text="${session.userCredentials.username}">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="content">
                                            <textarea class="form-control" id="content" name="content"
                                                      placeholder="내용을 입력하세요" required></textarea>
                                        </label>
                                    </div>
                                    <input class="post-write-btn" type="submit" value="등록"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
