<!DOCTYPE html>
<html lang="kr">
<head>
    {{> /repeatedHtml/head_data}}
    <![endif]-->
    <link href="/css/user/form.css" rel="stylesheet">
    <link href="/css/article/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            {{> /repeatedHtml/navbar_header}}
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="list.html">멤버 리스트</a></li>
                {{> /repeatedHtml/basic_button}}
            </ul>
        </div>
    </nav>

    <div class="container">
        <header class="post-header">
            <p class="title" style="margin-top:50px">글쓰기</p>
        </header>

        <form name="question" method="post" action="/article">
            <div class="form-group">
                <label for="writer">글쓴이</label>
                <input class="input-field" id="writer" name="writer" placeholder="글쓴이"/>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="input-field" id="title" name="title" placeholder="제목"/>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea name="content" id="content" rows="5" class="textarea-field"></textarea>
            </div>
            <button type="submit" class="btn-submit">작성하기</button>
        </form>
    </div>
</div>
</body>
</html>
