<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/reset.css}" href="../../static/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link th:href="@{/css/article/form.css}" href="../../static/css/article/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">글쓰기</p>
        </header>
        <form class="submit-write" method="post" action th:object="${article}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>

            <div class="text-box" th:classappend="${#fields.hasErrors('title')} ? 'field-error'">
                <div class="comment-writer-container">
                    <p class="post-title">제목</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control"
                              th:field="*{title}"
                              placeholder="제목을 입력하세요"></textarea>
                </div>
            </div>
            <div class="field-error" th:errors="*{title}">
                제목 오류
            </div>

            <div class="text-box" th:classappend="${#fields.hasErrors('content')} ? 'field-error'">
                <div class="comment-writer-container">
                    <p class="post-content">내용</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" th:field="*{content}"
                              placeholder="내용을 입력하세요"></textarea>
                </div>
            </div>
            <div class="field-error" th:errors="*{content}">내용 오류</div>

            <input class="post-write-btn" type="submit" value="등록"/>
        </form>
    </div>
</div>
</body>
</html>
