<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script th:src="@{//html5shim.googlecode.com/svn/trunk/html5.js}"></script>
    <![endif]-->
    <link th:href="@{/css/article/show.css}" rel="stylesheet">
</head>
<body>
<div class="background">
    <div th:replace="~{fragments/navigation :: main_nav}"></div>
    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default" style="width: 80%">
                <header class="post-header">
                    <p class="post-title" th:text="${article.getTitle()}"></p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text"
                                 style="display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <p class="article-content" th:text="${article.getUserId()}"></p>
                                    <p class="article-content" th:if="${article.isModified()}">
                                        <span th:text="${article.getFormattedModifiedTime()}"></span> (수정됨)
                                    </p>
                                    <p class="article-content" th:unless="${article.isModified()}"
                                       th:text="${article.getFormattedCreationTime()}"></p>
                                    <p class="article-content" th:text="${article.getViewCount()}"></p>
                                </div>
                                <div>
                                    <a class="black-component" th:if="${isWriter}" style="margin-left: 10px"
                                       th:href="@{/article/update/{articleId}(articleId=${articleId})}">수정하기
                                    </a>
                                    <form method="post"
                                          th:action="@{/article/update/{articleId}(articleId=${articleId})}">
                                        <button th:if="${isWriter and canDelete}" type="submit"
                                                class="black-component"
                                                style="margin-left: 10px; display: flex; align-items: center; justify-content: center;">
                                            삭제하기
                                        </button>
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="article-doc">
                            <p class="article-content" th:text="${article.getContent()}"></p>
                        </div>
                    </article>
                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 <span th:text="${commentList.size()}"></span>개</p>
                            <div class="post-comment-slipp-articles">
                                <article class="comment" th:each="comment: ${commentList}">
                                    <div class="article-text">
                                        <p class="comment-content comment-author-name"
                                           th:text="${comment.getUserId()}"></p>
                                        <div class="comment-content comment-doc">
                                            <p th:text="${comment.getContent()}"></p>
                                        </div>
                                        <p class="comment-content comment-time"
                                           th:text="${comment.getFormattedCreationTime()}">
                                        </p>
                                    </div>
                                </article>
                                <form class="submit-write" method="post"
                                      th:action="@{/article/{articleId}/comments(articleId=${articleId})}"
                                      th:object="${commentWriteDto}">
                                    <div class="comment-writer-container">
                                        <input class="comment-writer" id="userId" name="userId" th:value="${writer}"
                                               readonly/>
                                    </div>
                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('content')} ? 'has-error'">
                                        <textarea class="form-control" id="content" th:field="*{content}"
                                                  placeholder="내용을 입력하세요"></textarea>
                                    </div>
                                    <span class="error-message" style="margin-top: 10px; color:red"
                                          th:errors="*{content}"></span>
                                    <input class="post-write-btn" type="submit" value="등록"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
