<!DOCTYPE html>
<html lang="kr">
<head>
    <div th:insert="~{fragment/header :: header}"></div>
    <style>
        .field-error-input {
            border-color: #dd1111;
        }
        .field-error {
            color: #dd1111;
        }
    </style>
</head>
<body>
<div th:insert="~{fragment/navbar :: mainNav}"></div>
<div th:insert="~{fragment/navbar :: subNav}"></div>
<div class="container" id="main">
   <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default content-main">
          <form name="question" method="post" action="/users/create" th:object="${user}">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" id="userId" name="userId" placeholder="User ID"
                         th:field="*{userId}" th:errorclass="field-error-input">
                  <div class="field-error" th:errors="*{userId}">사용자 아이디 에러</div>
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                         th:field="*{password}" th:errorclass="field-error-input">
                  <div class="field-error" th:errors="*{password}">비밀번호 에러</div>
              </div>
              <div class="form-group">
                  <label for="password-check">비밀번호 확인</label>
                  <input type="password" class="form-control" id="password-check" name="passwordCheck" placeholder="PasswordCheck"
                         th:field="*{passwordCheck}" th:errorclass="field-error-input">
                  <div class="field-error" th:errors="*{passwordCheck}">비밀번호 확인 에러</div>
              </div>
              <div class="form-group">
                  <label for="name">이름</label>
                  <input class="form-control" id="name" name="name" placeholder="Name"
                         th:field="*{name}" th:errorclass="field-error-input">
                  <div class="field-error" th:errors="*{name}">이름 에러</div>
              </div>
              <div class="form-group">
                  <label for="email">이메일</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                         th:field="*{email}" th:errorclass="field-error-input">
                  <div class="field-error" th:errors="*{email}">이메일 에러</div>
              </div>
              <button type="submit" class="btn btn-success clearfix pull-right">회원가입</button>
              <div class="clearfix" />
          </form>
        </div>
    </div>
</div>
<!-- script references -->
<div th:insert="~{fragment/script :: script}"></div>
</body>
</html>