<!DOCTYPE html>
<html lang="kr">
<head>
    <th:block th:replace="fragments/base :: base-head"></th:block>
</head>
<body>
    <th:block th:replace="fragments/base :: navbar"></th:block>

    <th:block th:replace="fragments/base :: subnav"></th:block>>


<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th> <th>사용자 아이디</th> <th>이름</th> <th>이메일</th><th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row">1</th>
                    <td> <a th:text="${user.userId}" th:href="@{/user/profile/{userId}(userId=${user.userId})}"></a></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{/user/update/{userId}(userId=${user.userId})}" class="btn btn-success" role="button">수정</a></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>

<!-- script references -->
<script src="../../static/js/jquery-2.2.0.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/scripts.js"></script>
	</body>
</html>