<!DOCTYPE html>
<html lang="kr">
<head>
    {{> repeatedHtml/head_data}}
    <![endif]-->
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            {{> repeatedHtml/navbar_header}}
            <ul class="nav navbar-nav navbar-right">
                {{> repeatedHtml/navbar_button}}
            </ul>
        </div>
    </nav>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">가입이 완료되었습니다!</p>
        </header>
        <p class="user-info"> 이메일: {{ email }}</p>
        <p class="user-info"> 닉네임: {{ nickname }}</p>
        <a href="/main" class="btn">홈으로</a>
    </div>
</div>
</body>
</html>
