<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SPACE NYANCAT CAFE 🐈</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/Dalgona/neodgm-webfont@1.510/neodgm_code/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/user/login.css" rel="stylesheet">
    <script src="/js/global.js"></script>
</head>
<body>
<div class="background">
    <div th:replace="~{base/part/navbar :: navbar}"></div>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">로그인</p>
        </header>
        <form name="question" class="info-container" method="post" action="/user/login">
            <div class="form-group">
                <label for="userId">아이디</label>
                <input class="form-control" id="userId" name="userId" placeholder="아이디 입력하세요" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
    </div>
</div>
</body>
</html>
