<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script th:src="@{//html5shim.googlecode.com/svn/trunk/html5.js}"></script>
    <![endif]-->
    <link th:href="@{/css/user/join.css}" rel="stylesheet">
</head>
<body>
<div class="background">
    <div th:replace="~{fragments/navigation :: main_nav}"></div>
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">비밀번호 확인</p>
        </header>
        <form name="question" class="info-container" method="post" action="">
            <div class="form-group">
                <label for="userPassword">비밀번호</label>
                <input type="password" class="form-control" id="userPassword" name="userPassword"
                       placeholder="비밀번호를 입력하세요">
            </div>
            <div th:if="${param.error}" class="info-container" style="color: red">
                <p>비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
    </div>
</div>
</body>
</html>