<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/user/join.css}" rel="stylesheet">
    <link th:href="@{/css/user/profile.css}" rel="stylesheet">
</head>
<body>
<div class="background">
    <!--    <nav class="navbar navbar-fixed-top header">-->
    <!--        <div class="col-md-12">-->
    <!--            <div class="navbar-header">-->
    <!--                <a th:href="@{/home}" class="navbar-brand">-->
    <!--                    <img th:src="@{/images/fubao-logo.png}"/>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--            <ul class="nav navbar-nav navbar-right">-->
    <!--                <li><a class="black-component" th:href="@{/users/match-pw/{userId}(userId=${user.getUserId()})}"-->
    <!--                       role="button" style="width: auto; padding-left: 10px; padding-right: 10px;">회원 정보 수정</a></li>-->
    <!--                <li><a class="black-component" th:href="@{/users/logout}" role="button">로그아웃</a></li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </nav>-->
    <div th:replace="~{fragments/navigation :: main_nav}"></div>
    <div class="container" id="main" style="margin-bottom: 80px">
        <header class="post-header">
            <p class="title">프로필</p>
        </header>
        <div class="info-container">
            <div class="description">
                <div class="desc-container">
                    <img src="/images/user_basic_image.png"/>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th>항목</th>
                    <th>내용</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ID</td>
                    <td th:text="${user.getUserId()}"></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td th:text="${user.getUserName()}"></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td th:text="${user.getUserEmail()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
