<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/user/profile.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            {{> base/navBarHeader}}
            {{> base/navBarNav}}
        </div>
    </nav>

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">유저 상세 페이지</p>
            <a href="/users/update/{{userId}}" class="adjust-btn">수정하기</a>
        </header>

        <!--here-->
        <div class="user-info-container">
            <div class="user-info">
                <p class="info-label">유저 ID</p>
                <p class="info-value" id="userId">{{ user.getUserId }}</p>
            </div>
            <div class="user-info">
                <p class="info-label">닉네임</p>
                <p class="info-value" id="userName">{{ user.getName }}</p>
            </div>
            <div class="user-info">
                <p class="info-label">이메일</p>
                <p class="info-value" id="userEmail">{{ user.getEmail }}</p>
            </div>
            <div class="user-info">
                <p class="info-label">가입일</p>
                <p class="info-value" id="userCreationDate">{{ user.getCreationDate }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
