<!DOCTYPE html>
<html lang="kr">
<head>
    {{> repeatedHtml/head_data}}
    <!--[if IE 9]><link href="/css/ie9.css" rel="stylesheet"><![endif]-->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/user/profile.css" rel="stylesheet">

</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            {{> repeatedHtml/navbar_header}}
            <ul class="nav navbar-nav navbar-right">
                {{> repeatedHtml/navbar_button}}
            </ul>
        </div>
    </nav>

    <div class="profile-container">
        <img class="profile-img" src="/images/user.png" alt="프로필 사진">
        <table>
            <tbody>
            <tr>
                <td>Nickname</td>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <td>User ID</td>
                <td>{{ user.userId }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
        <a class="btn-edit-profile" href="/users/update/{{id}}" role="button">프로필 수정</a>
    </div>


</div>
</body>

</html>
