<!DOCTYPE html>
<html lang="kr">
{{>layout/non_login_header}}
<link href="/css/user/form.css" rel="stylesheet">
<link href="/css/user/profile.css" rel="stylesheet">
<body>
<div class="background">
    {{>layout/non_login_navbar}}
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원정보 수정</p>
        </header>
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <img src="/images/ryan_profile.png" class="img-circle" alt="User Image" style="width: 120px; height: 120px; margin-bottom: 20px;">
                <p><strong>아이디:</strong> {{user.userId}}</p>
            </div>
        </div>
        {{#passwordError}}
        <p style="color: crimson">비밀번호가 옳지 않습니다. 다시 입력해주세요</p>
        {{/passwordError}}
        <form name="question" class="info-container" method="POST" action="/users/{{user.userId}}/update">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요">
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="nickname" class="form-control" id="nickname" name="nickname" placeholder="닉네임을 입력하세요">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
    </div>
</div>
</body>
</html>