<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>페이지를 찾을 수 없습니다.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="../home.html" th:href="@{/}" class="navbar-brand">Yelly's Spring Cafe</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <form class="navbar-form pull-left">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i
                                class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/" target="_blank">Yelly's Spring Cafe</a></li>
                        <li><a href="https://github.com/Yeriimii" target="_blank">Yelly's GitHub</a></li>
                    </ul>
                </li>
                <li><a href="../members/list.html" th:href="@{/members/list}"><i
                        class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle"
               data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i
                    class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>

<div class="container" id="main">
    <div class="row text-center">
        <div>
            <h1>죄송합니다, 페이지를 찾을 수 없습니다.</h1>
            <p>요청하신 페이지를 찾을 수 없습니다. 아마도 잘못된 링크나 삭제된 페이지로 인해 이런 상황이 발생했을 것으로 추정됩니다.</p>
            <p>다음 몇 가지 방법을 시도해 볼 수 있습니다:</p>
            <ul class="list-group text-center">
                <li class="list-inline">주소를 다시 한 번 확인해 주세요. 오타가 없는지 다시 한 번 확인해 주세요.</li>
                <li class="list-inline">이전 페이지로 돌아가서 다른 링크를 시도해 보세요.</li>
            </ul>
        </div>
    </div>
</div>

<!-- script references -->
<script src="../js/jquery-2.2.0.min.js" th:src="@{/js/jquery-2.2.0.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>
