<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragment/layout/header :: header(~{::title})}">
    <title>Yelly's Spring Cafe</title>
</head>

<body th:replace="~{fragment/layout/content :: content(~{::contentBody})}">
<div th:fragment="contentBody" class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                <li th:each="article, loop : ${articles}">
                    <div class="wrap">
                        <div class="main">
                            <div class="row" th:text="*{loop.current.id}">1</div>
                            <strong class="subject">
                                <a href="qna/detail.html" th:href="@{|/questions/${article.id}|}">
                                    <span th:text="*{article.title}">국내에서 Ruby on Rails와 Play가 활성화되기 힘든 이유는 뭘까?</span>
                                </a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time"
                                      th:text="*{#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-04-09 15:17</span>
                                <a href="./members/profile.html"
                                   th:href="@{|/members/${article.createdBy}|}" class="author">
                                    <span th:text="*{article.createdBy}">guest</span>
                                </a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point" th:text="*{article.commentSize}">0</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="./qna/form.html" class="btn btn-primary pull-right"
                       th:href="@{/questions}" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>