<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragment/layout/header :: header(~{::title})}">
    <title>Article Detail</title>
</head>

<body th:replace="~{fragment/layout/content :: content(~{::contentBody})}">
<div th:fragment="contentBody" class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default" th:object="${article}">
            <header class="qna-header">
                <h2 class="qna-title" th:text="*{title}">InitializingBean implements afterPropertiesSet() 호출되지 않는
                    문제.</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/92/kimmunsu" th:href="@{|/members/*{createdBy}|}"
                               class="article-author-name">
                                <span th:text="*{createdBy}">guest</span>
                            </a>
                            <div class="article-header-time">
                                <span th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}">2015-12-30 01:47</span>
                                <i class="icon-link"></i>
                            </div>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p th:utext="${#strings.replace(article.contents, lineSeparator, '&lt;br /&gt;')}"></p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article"
                                   href="/questions/423/form" th:href="@{|/questions/*{id}/edit|}">수정</a>
                            </li>
                            </th:block>
                            <li>
                                <a class="link-modify-article" th:href="@{|/questions/*{id}/delete|}">삭제</a>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/index.html" th:href="@{/}">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong th:text="${comments.size()}">0</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles">
                            <article th:replace="~{fragment/comment/commentsFragment :: commentList(${comments}, ${lineSeparator})}" class="article" id="answer-1405">
                            </article>
                            <form class="submit-write" th:action="@{|/questions/${article.id}/comments|}"
                                  th:object="${commentForm}" method="POST">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" th:field="${commentForm.content}" placeholder="의견을 나눠 보세요"></textarea>
                                </div>
                                <div class="field-error" th:errors="*{content}" />
                                <button class="btn btn-success pull-right" type="submit">답변하기</button>
                                <div class="clearfix"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>