<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragment/layout/header :: header(~{::title})}">
    <title>Article Detail</title>
</head>

<body th:replace="~{fragment/layout/content :: content(~{::contentBody})}">
<div th:fragment="contentBody" class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default" th:object="${article}">
            <header class="qna-header">
                <h2 class="qna-title" th:text="*{title}">InitializingBean implements afterPropertiesSet() 호출되지 않는
                    문제.</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/92/kimmunsu" th:href="@{|/members/*{createdBy}|}"
                               class="article-author-name">
                                <span th:text="*{createdBy}">guest</span>
                            </a>
                            <div class="article-header-time">
                                <span th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm:ss')}">2015-12-30 01:47</span>
                                <i class="icon-link"></i>
                            </div>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p th:utext="${#strings.replace(article.contents, lineSeparator, '&lt;br /&gt;')}"></p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list" th:data-user-id="*{createdBy}">
                            <li>
                                <a class="link-modify-article"
                                   href="/questions/423/form" th:href="@{|/questions/*{id}/edit|}">수정</a>
                            </li>
                            </th:block>
                            <li>
                                <a class="link-modify-article" th:href="@{|/questions/*{id}/delete|}">삭제</a>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/index.html" th:href="@{/}">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong th:text="${commentsPage.getTotalElements()}">0</strong>개의 의견</p>
                        <div id="comment-list" class="qna-comment-slipp-articles">
                            <!-- 댓글이 추가되는 곳 -->
                            <article th:replace="~{fragment/comment/commentsFragment :: commentList(${commentsPage.content}, ${lineSeparator})}" class="article" id="answer-1405">
                            </article>
                        </div>
                        <!-- 댓글이 15개 이상인 경우 더보기 버튼 추가 -->
                        <div id="comment-form" class="qna-comment-slipp-articles">
                            <!-- comments.size()가 15 이상인 경우에만 버튼 표시 -->
                            <th:block th:if="${commentsPage.getTotalElements() > 15}">
                                <button class="btn btn-primary article article-header">더보기</button>
                            </th:block>
                            <form class="submit-write" th:action="@{|/api/questions/${article.id}/comments|}"
                                  th:object="${commentForm}" method="POST">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" th:field="${commentForm.content}" placeholder="의견을 나눠 보세요"></textarea>
                                </div>
                                <div class="field-error" th:errors="*{content}" />
                                <button class="btn btn-success pull-right" type="submit">답변하기</button>
                                <div class="clearfix"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- 페이지 정보를 전달하는 함수 -->
<script th:inline="javascript">
    var articleId = [[${article.id}]]
    var requestPage = [[${commentsPage.pageNumber} + 1]];

    function loadMoreComments() {
        var url = '/api/questions/' + articleId + '/comments?page=' + requestPage;
        console.log("요청 페이지 번호: ", requestPage);

        $.ajax({
            type : 'get',
            url : url,
            error: function (xhr) {
                if (xhr.status === 400) {
                    alert("댓글 불러오기 오류");
                }
            },
            success : function (page, status) {
                displayLoadedComments(page.content);
                console.log("반환한 Page 객체: ", page);
                console.log("댓글 개수: ", page.numberOfElements);

                // 다음 페이지가 존재하면 page + 1
                if (page.pageNumber + 1 < page.totalPages) {
                    requestPage += 1;
                }

                // 갱신된 commentsPage에서 hasNext를 확인하여 버튼 제거
                if (page.pageNumber + 1 >= page.totalPages) {
                    $('.btn-primary').remove();
                }
            }
        });
    }
</script>

</html>