<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: common-head"></head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title" th:text="${article.title}">글 제목</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/92/kimmunsu" class="article-author-name" th:text="${article.writer}">글쓴이</a>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크" th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}">
                                작성 시간
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div  th:utext="${#strings.replace(article.content, lineSeparator, '&lt;br /&gt;')}"></div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a th:href="@{/qna/update/{id}(id=${article.id})}">수정</a>
                            </li>
                            <li th:if="${user.userId == article.writer}">
                                <form class="form-delete" th:action="@{'/qna/delete/'+ ${article.id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger" onclick="confirmDelete(event)">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/index.html">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>
                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong th:text="${replyList.size()}">0</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles">
                            <article th:each="reply : ${replyList}" class="article" th:id="${'answer-' + reply.id}">
                                <div class="article-header">
                                    <div class="article-header-thumb">
                                        <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                    </div>
                                    <div class="article-header-text">
                                        <a href="#" class="article-author-name" th:text="${reply.writer}">글쓴이</a>
                                        <a href="#" class="article-header-time" th:text="${#temporals.format(reply.createdDate, 'yyyy-MM-dd HH:mm')}">시간</a>
                                    </div>
                                </div>
                                <div class="article-doc comment-doc" th:text="${reply.content}">댓글 내용</div>
                                <div class="article-util">
                                    <ul class="article-util-list">
                                        <li th:if="${session.user.getUserId() == reply.writer}">
                                            <a th:href="${'/reply/edit/' + reply.id}" class="link-modify-article">수정</a>
                                        </li>
                                        <li th:if="${session.user.getUserId() == reply.writer}">
                                            <form th:action="${'/reply/delete/'+reply.id}" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="delete-answer-button" onclick="confirmDelete(event)">삭제</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <form class="submit-write" th:action="@{'/reply/create/'+${article.id}}" method ="POST">
                                <div class="form-reply" style="padding:14px;">
                                        <textarea class="content" name="content" placeholder="댓글을 입력하세요" rows="10" cols="100"></textarea>
                                </div>
                                <button class="btn btn-success pull-right" type="submit">댓글달기</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(event) {
        if (!confirm('정말로 삭제하시겠습니까?')) {
             event.preventDefault();
        }
    }
</script>
<!-- script references -->
<div th:replace="fragments/script :: common-scripts"></div>
</body>
</html>