<!DOCTYPE html>
<html lang="kr">
<head>
    <div th:insert="~{fragment/header :: header}"></div>
</head>
<body>
<div th:insert="~{fragment/navbar :: mainNav}"></div>
<div th:insert="~{fragment/navbar :: subNav}"></div>
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
          <header class="qna-header">
              <h2 class="qna-title" th:text="${article.getTitle()}">title</h2>
          </header>
          <div class="content-main">
              <article class="article">
                  <div class="article-header">
                      <div class="article-header-thumb">
                          <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                      </div>
                      <div class="article-header-text">
                          <a href="/users/92/kimmunsu" class="article-author-name" th:text="${article.getWriter()}">작성자</a>
                          <a href="/questions/413" class="article-header-time" title="퍼머링크" th:text="${#temporals.format(article.getCurrentTime(), 'yyyy-MM-dd HH:mm:ss')}">
                              currentTime
                              <i class="icon-link"></i>
                          </a>
                      </div>
                  </div>
                  <div class="article-doc" th:utext="${#strings.replace(article.getContents(), nlString, '&lt;br /&gt;')}">contents</div>
                  <div class="article-util">
                      <ul class="article-util-list">
                          <li th:if="${session.loginUser.getId() == article.getUserId()}">
                              <a class="link-modify-article" th:href="@{/articles/{id}/update(id=${article.getId()})}">수정</a>
                          </li>
                          <li th:if="${session.loginUser.getId() == article.getUserId()}">
                              <form class="form-delete" th:action="@{/articles/{id}/delete(id=${article.getId()})}" th:method="delete">
                                  <button class="link-delete-article" type="submit">삭제</button>
                              </form>
                          </li>
                          <li>
                              <a class="link-modify-article" href="/templates/index.html">목록</a>
                          </li>
                      </ul>
                  </div>
              </article>

              <div class="qna-comment">
                  <div class="qna-comment-slipp">
                      <p class="qna-comment-count"><strong th:text="${comments.size()}">?</strong>개의 댓글</p>
                      <div class="qna-comment-slipp-articles">
                          <tr th:each="comment : ${comments}">
                              <article class="article" id="answer-1405" th:if="${!comment.isDeleted()}">
                                  <div class="article-header">
                                      <div class="article-header-thumb">
                                          <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                      </div>
                                      <div class="article-header-text">
                                          <a href="/users/1/자바지기" class="article-author-name" th:text="${comment.getWriter()}">작성자</a>
                                          <a href="#answer-1434" class="article-header-time" title="퍼머링크"
                                             th:text="${#temporals.format(comment.getCurrentTime(), 'yyyy-MM-dd HH:mm:ss')}">작성 시간</a>
                                      </div>
                                  </div>
                                  <div class="article-doc comment-doc">
                                      <p th:text="${comment.getContent()}">댓글 내용</p>
                                  </div>
                                  <div class="article-util">
                                      <ul class="article-util-list">
                                          <li th:if="${session.loginUser.getId() == comment.getUserId()}">
                                              <a class="link-modify-article" href="/questions/413/answers/1405/form">수정</a>
                                          </li>
                                          <li th:if="${session.loginUser.getId() == comment.getUserId()}">
                                              <form class="delete-answer-form"
                                                    th:action="@{/articles/{articleId}/comments/{commentId}(articleId=${article.getId()}, commentId=${comment.getId()})}"
                                                    th:method="delete">
                                                  <input type="hidden" name="_method" value="DELETE">
                                                  <button type="submit" class="delete-answer-button">삭제</button>
                                              </form>
                                          </li>
                                      </ul>
                                  </div>
                              </article>
                          </tr>
                          <form class="submit-write" method="post" th:action="@{/articles/{articleId}/comments/create(articleId=${article.getId()})}">
                              <div class="form-group" style="padding:14px;">
                                  <textarea class="form-control" placeholder="댓글 작성" name="content"></textarea>
                              </div>
                              <button class="btn btn-success pull-right" type="submit">댓글 작성</button>
                              <div class="clearfix" />
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
	<article class="article">
		<div class="article-header">
			<div class="article-header-thumb">
				<img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
			</div>
			<div class="article-header-text">
				<a href="#" class="article-author-name">{0}</a>
				<div class="article-header-time">{1}</div>
			</div>
		</div>
		<div class="article-doc comment-doc">
			{2}
		</div>
		<div class="article-util">
		<ul class="article-util-list">
			<li>
				<a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
			</li>
			<li>
				<form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
                     <button type="submit" class="delete-answer-button">삭제</button>
				</form>
			</li>
		</ul>
		</div>
	</article>
</script>

<!-- script references -->
<div th:insert="~{fragment/script :: script}"></div>
</body>
</html>