<article class="comment">
    <div class="article-text">
        <span class="article-content-header">
            <p class="comment-content comment-author-name">{{getUserId}}</p>
            <!--사용자가 같다면 표시!-->
            {{#hasEditRight}}
            <button class="reply-btn adjust-btn-color">수정</button>
                <form id="deleteForm" method="POST" action="/api/articles/{{article.getArticleId}}/replies/{{reply.getReplyId}}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="reply-btn delete-btn-color" id="reply-delete-btn">삭제</button>
                </form>
            {{/hasEditRight}}
        </span>

        <div class="comment-content comment-doc">
            <p>{{getComment}}</p>
        </div>
        <p class="comment-content comment-time">
            {{getCreationDate}}
        </p>
    </div>
</article>
