{{#replies}}
<article class="comment">
    <div class="article-text">
        <span class="article-content-header">
            <p class="comment-content comment-author-name">{{getUserId}}</p>
            <!--사용자가 같다면 표시!-->
            {{#hasEditRight}}
            <button class="reply-btn adjust-btn-color">수정</button>
            <button class="reply-btn delete-btn-color">삭제</button>
            {{/hasEditRight}}
        </span>

        <div class="comment-content comment-doc">
            <p>{{getComment}}</p>
        </div>
        <p class="comment-content comment-time">
            {{getCreationDate}}
        </p>
    </div>
</article>
{{/replies}}