<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>kakao Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/css/reset.css}" href="../../static/css/reset.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link th:href="@{/css/index.css}" href="../../static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="description">
        <div class="desc-container">
            <p class="desc-small">안녕하세요</p>
            <p class="desc-big">상추 월드 입니다.</p>
        </div>
    </div>

    <p class="total_num" th:text="|총 검색된 게시물 ${totalArticleSize}개|">전체 글 10명</p>

    <div class="container" id="main">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일자</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article:${articles}">
                        <td><a th:href="@{/articles/detail/{id}(id=${article.id})}"
                               th:text="|${article.title} [${commentCounts.get(article.id)}]|">국내에서 Ruby
                            on Rails와 Play가 활성화되기 힘든
                            이유는 뭘까?</a></td>
                        <td th:text="${article.writer}">닉네임 1</td>
                        <td th:text="${#temporals.format(article.writeDate, 'yyyy-MM-dd')}">2021-12-14</td>
                        <td th:text="${article.views}">0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="post-btn-container">
        <a href="articles/add" class="post-write-btn btn btn-primary pull-right"
           role="button">글쓰기</a>
    </div>

    <div class="pagination-container">
        <ul class="pagination">
            <!-- 이전 페이지 그룹으로 이동 -->
            <li th:if="${pageGroup.startPage > pageGroup.pageSize}">
                <a th:href="@{/search(keyword=${keyword}, page=${pageGroup.startPage - 1})}">&laquo;</a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="pageNum : ${#numbers.sequence(pageGroup.startPage, pageGroup.endPage)}">
                <a th:href="@{/search(keyword=${keyword},page=${pageNum})}" th:text="${pageNum}"
                   th:class="${pageNum == pageGroup.currentPage ? 'active-page' : ''}">1</a>
            </li>

            <!-- 다음 페이지 그룹으로 이동 -->
            <li th:if="${pageGroup.endPage < pageGroup.totalPages}">
                <a th:href="@{/search(keyword=${keyword},page=${pageGroup.endPage + 1})}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div class="search-container">
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" required>
            <button type="submit">검색</button>
        </form>
    </div>

</div>
</body>
</html>
