<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title">{{article.title}}</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-simpleUserInfo-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/user/{{{article.author.id}}}" class="author">{{article.author.name}}</a>
                            <a href="#" class="article-header-time" title="퍼머링크">
                                {{article.formedTime}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p id="article-content">{{article.content}}</p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article" href="/article/{{article.id}}/form">수정</a>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/article/{{article.id}}/delete">삭제</a>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong id="numberOfComments">{{numberOfComments}}</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles" id="comments_block">
                            {{#comments}}
                            {{> components/article/comment.partial}}
                            {{/comments}}
                        </div>
                        <p id="nowPage" style="display: none">1</p>
                        <div class="article-more" href="/api/comment/{{article.id}}?page="> 댓글 더보기 </div>
                        {{> components/comment/comment_form.partial}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>