 <head th:fragment="header(title)">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/bootstrap.min.css" th:href="@{/../css/bootstrap.min.css}" rel="stylesheet">
    <link href="../css/styles.css" th:href="@{/../css/styles.css}" rel="stylesheet">
</head>